    @media (min-width: $breakpoint-xs) {

        *{
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }


        .container {
            background-color: #B8D1CC;
        }
        .menu__container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: rgb(41,116,161);
            background: linear-gradient(101deg, rgba(41,116,161,1) 43%, rgba(122,163,47,1) 79%, rgba(118,167,29,1) 100%); 
            padding: 10px;
            img {
                max-width: 100%;
            }
        }

        .branding {
            display: flex;
            display: flex;
            align-items: center;
        }

        .branding__contenido {
            display: flex;
        }
        .branding__img {
            width: 60%;
        }

        .logo__main {
            display: none;
        }

        .search, .menu {
            display: none;
        }

        .menu__main {
            display: flex;
            justify-content: space-between;
            width: 40%;
        }

        .menu__content {
            display: flex;
            align-items: center;
            width: 25%;
        }

        .perfil, .perfil__content {
            display: flex;
        }

        .perfil {
            justify-content: space-between;
        }

        .perfil__content {
            justify-content: flex-end;
            align-items: center;
            width: 80%;
        }

        .perfil__img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid #ffffff;
        }

        .fa {
            font-size: 1.8rem;
            margin: 5px;
            align-self: center;
            color: #ffffff;
        }

    }





        