    @media (min-width: $breakpoint-xs) {

        *{
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }


        .container {
            background-color: #B8D1CC;
        }
        .menu__container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: rgb(41,116,161);
            background: linear-gradient(101deg, rgba(41,116,161,1) 43%, rgba(122,163,47,1) 79%, rgba(118,167,29,1) 100%); 
            padding: 10px;
            img {
                max-width: 100%;
            }
        }

        .branding {
            display: flex;
            display: flex;
            align-items: center;
        }

        .branding__contenido {
            display: flex;
        }
        .branding__img {
            width: 60%;
        }

        .logo__main {
            display: none;
        }

        .search, .menu {
            display: none;
        }

        .menu__main {
            display: flex;
            justify-content: space-between;
            width: 40%;
        }

        .menu__content {
            display: flex;
            align-items: center;
            width: 25%;
        }

        .perfil, .perfil__content {
            display: flex;
        }

        .perfil {
            justify-content: space-between;
        }

        .perfil__content {
            justify-content: flex-end;
            align-items: center;
            width: 80%;
        }

        .perfil__img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid #ffffff;
        }

        .fa {
            font-size: 1.8rem;
            margin: 5px;
            align-self: center;
            color: #ffffff;
        }

    }

    @media (min-width: $breakpoint-sm) {


        .menu__main {
            width: 70%;
            color: #ffffff;
            font-weight: bold;
        }

        .logo__main {
            display: initial;
        }

        .logo__alter {
            display: none;
        }

        .menu__content {
            display: none;
        }
        .search {
            display: initial;
            display: flex; 
            justify-content: center;
            align-items: center;
            padding: 0px;
            width: 100%;
        }

        .label__search {
            display: none;
        }

        #search {
            padding: 15px;
            width: 350px;
            margin: 0px;
            border: 1px solid #b8b8b8;
            border-radius: 4px;
        }

        .perfil {
            width: 30%;
        }

        .perfil__img {
            width: 60px;
            height: 60px;
        }

        #activar {
            display: none;
        }

    }

    @media (min-width: $breakpoint-lg) {

        .branding {
            width: 15%;
        }

        .menu__container {
            padding: 5px;
        }
        .menu__main {
            width: 80%;
        }
        .fa-bars {
            display: none;
        }

        .search {
            justify-content: flex-start;
            width: 30%;
        }

        #search {
            padding: 10px;
            width: 280px;
        }

        .menu__content {
            display: initial;
            width: 50%;
        }
        .menu {
            padding: 0px;
            margin: 5px;
            display: initial;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
        }

        .menu__item {
            display : flex;
            list-style-type: none;
            align-items: center;
            flex-direction: column;
            width: 20%;
            border-radius: 3px;

            &:hover {
                cursor: pointer;
                background-color: #ccffaf
            }
        }


        .everis__icon {
            width: 50%;
        }

        .perfil {
            width: 20%;
            display: flex;
            justify-content: flex-end;
        }

        .perfil__content {
            align-items: center;
            width: 50%;
        }

        .perfil__img {
            width: 50px;
            height: 50px;
        }

        .perfil__hover {
            &:hover {
                cursor: pointer;
                background-color: #ccffaf
            }
        }
    }





        