

//Breakpoints
$breakpoint-xs: 320 + "px" !default;
$breakpoint-sm: 600 + "px" !default;
$breakpoint-md: 786 + "px" !default;
$breakpoint-lg: 1024 + "px" !default;
$breakpoint-xl: 1280 + "px" !default;